@import "../../scss/mixins/logo.scss";

.subHead {
  display: flex;
  padding: 0 4rem;
  padding-right: 0;
  padding-bottom: 10rem;

  padding-top: 30vh;
}

.subHead_logo {
  display: none;
  @include logo-lg;
  margin-right: 2.5rem;
}
.subHead_logo_g {
  fill: blue;

  &.dark {
    fill: white;
  }
}

.subHead_text {
  font-size: 8rem;
  font-weight: 500;
  color: blue;
  max-width: 60vw;
  transform: translateY(-2.5rem);
  line-height: 1;
  display: block;

  &.dark {
    color: white;
  }
}

@media only screen and (min-width: 25em) {
  .subHead_logo {
    display: block;
    margin-right: 6rem;
  }
}
@media only screen and (min-width: 28.125em) {
  .subHead {
    padding: 0 4rem;
    padding-right: 0;
    padding-bottom: 10rem;
    padding-top: 25vh;
  }
}

@media only screen and (min-width: 53.75em) {
  .subHead {
    padding: 0 15rem;
    padding-bottom: 8rem;
    padding-top: 35vh;
  }

  .subHead_logo {
    margin-right: calc(33% - 11.5rem);
  }

  .subHead_text {
    font-size: 12rem;
    transform: translateY(-4rem);
  }
}
