@import "../../scss/variables/colors.scss";

.work_template {
  padding-top: 10rem;
  background: $color-dark-main;

  &_hero_image {
    margin-bottom: 6rem;
  }

  &_hero_title {
    margin-bottom: 2rem;
    font-size: 7rem;
    line-height: 1;
    text-align: center;
    color: $color-light-main;
  }
}

.work_template_summary_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 2rem;
}

.work_template_summary_text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.work_template_summary_link {
  text-align: center;
  padding: 1rem;
}

.work_template_header_wrapper {
  margin-top: 10rem;
}

.work_template_skills_wrapper {
  max-width: 40rem;
  align-self: flex-start;
}

.work_template_summary {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  color: $color-light-accent;
  margin-bottom: 3rem;
}

.work_template_skills_header {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: $color-light-accent;
  text-align: center;
}

.work_template_skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work_template_skills_list_item {
  list-style: none;
  font-size: 2rem;
  color: $color-light-accent;
  display: block;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.work_template_main_image_wrapper,
.work_template_footer_image_wrapper,
.work_template_repeating_main_image_wrapper {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.work_template_main_image,
.work_template_footer_image,
.work_template_repeating_main_image {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 5rem 0;
}

.work_template_repeating_mobile_image_wrapper {
  width: 30rem;
  max-width: 100%;
  // background: red;
  margin: 5rem 0;
}

.work_template_repeating_images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_template_repeating_mobile_image {
  margin: 0 auto;
  object-fit: cover;
}

.work_template_repeating_entry {
  padding: 10rem 0rem;

  &:nth-child(odd) {
    background: $color-light-main;

    .work_template_repeating_entry_header {
      color: $color-dark-accent;
      padding: 0 6rem;
    }
  }

  &:not(:last-child) {
    //  padding-bottom: 20rem;
  }

  &_header {
    font-size: 3rem;
    text-align: center;
    color: $color-light-accent;
  }
}

.work_template_next_link {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  margin-top: 5rem;
  background: $color-light-main;

  .work_template_next_link_text {
    font-size: 2rem;
    color: $color-dark-accent;
  }

  .work_template_next_link_project_title {
    color: $color-dark-accent;
  }

  &.even {
    background: $color-dark-main;
    .work_template_next_link,
    .work_template_next_link_text,
    .work_template_next_link_project_title {
      color: $color-light-accent;
    }
  }
}

@media only screen and (min-width: 37.5em) {
  .work_template_hero_title {
    font-size: 8rem;
  }

  .work_template_skills_wrapper {
    border-left: 1px solid white;
    padding-left: 3rem;
  }

  .work_template_next_link {
    padding-top: 6rem;
  }

  .work_template_next_link_project_title {
    font-size: 12rem;
  }

  .work_template_repeating_mobile_image_wrapper {
    width: auto;
  }

  .work_template_summary_wrapper {
    justify-content: space-between;
    padding: 6rem;
    max-width: 100rem;
  }
  .work_template_skills_list {
    flex-direction: column;
  }

  .work_template_skills_list_item {
    margin: 0.4rem 0;
  }

  .work_template_summary_text {
    font-size: 2.5rem;
    margin-right: 2rem;
  }

  .work_template_hero_title {
    font-size: 15rem;
    margin-left: 15vw;

    align-self: flex-start;
    writing-mode: vertical-rl;
  }

  .work_template_hero_wrapper {
    margin-top: 10rem;
    display: flex;
    margin-bottom: 15rem;
  }

  .work_template_hero_image {
    width: 60%;
  }

  .work_template_repeating_mobile_image {
    width: 85%;
    max-width: 45rem;
  }
  .work_template_main_image,
  .work_template_footer_image,
  .work_template_repeating_main_image {
    max-width: 120rem;
  }

  .work_template_repeating_images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 160rem;
    margin: 0 auto;
    padding-top: 6rem;
  }

  .work_template_repeating_mobile_image {
    width: 45rem;
    max-width: 30vw;
  }

  .work_template_repeating_mobile_image_wrapper:nth-child(1) {
    flex-basis: 100%;

    .work_template_repeating_mobile_image {
      margin-right: auto;
      width: 45rem;
      max-width: 30vw;
      float: left;
    }
  }

  .work_template_repeating_mobile_image_wrapper:nth-child(3) {
    margin-top: 30%;
  }

  .work_template_repeating_mobile_image_wrapper:nth-child(2) {
    transform: translateY(-32rem);
    order: 2;
    margin-left: auto;
  }

  .work_template_repeating_entry {
    padding: 0 2rem;
    padding-top: 12rem;

    &_header {
      font-size: 10rem;
      text-align: left;
      max-width: auto;
      padding: 0 6rem;
      max-width: 120rem;
    }
  }

  .work_template_repeat_section {
    .work_template_repeating_entry_header {
      font-size: 10rem;
    }

    .work_template_repeating_entry_header {
      margin-bottom: 6rem;
    }

    .work_template_repeating_entry:nth-child(even) {
      .work_template_repeating_entry_header {
        margin-left: auto;
      }
    }
  }
}

@media only screen and (min-width: 50em) {
  .work_template_next_link {
    padding: 8rem 10rem;
  }

  .work_template_next_link_project_title {
    font-size: 16rem;
  }
}
