@import "../../scss/variables/colors.scss";

.skill_template_summary_wrapper {
  min-height: calc(100vh - 10rem - 25vh);
  display: flex;
  // align-items: center;
}

.skill_template_summary {
  padding: 0 4rem;
  margin: 0 auto;
  font-size: 2rem;
}

.skill_template_link {
  font-size: 2rem;
}

.skill_template_next_link {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  margin-top: 5rem;
  background: $color-light-main;

  .skill_template_next_link_text {
    font-size: 2rem;
    color: $color-blue-main;
  }

  .skill_template_next_link_project_title {
    color: $color-blue-main;
  }
}

@media only screen and (min-width: 37.5em) {
  .skill_template_next_link {
    padding-top: 6rem;
  }

  .skill_template_next_link_project_title {
    font-size: 12rem;
  }
}

@media only screen and (min-width: 45em) {
  .skill_template_summary_wrapper {
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
  }

  .skill_template_summary {
    font-size: 4rem;
    padding: 0rem 8rem;
    max-width: 1600px;
    padding-bottom: 5rem;
  }

  .skill_template_link {
    font-size: 4rem;
  }
  .skill_template_next_link_project_title {
    font-size: 10rem;
  }
}

@media only screen and (min-width: 50em) {
  .skill_template_next_link {
    padding: 8rem 10rem;
  }

  .skill_template_next_link_project_title {
    font-size: 16rem;
  }
}

@media only screen and (min-width: 53.75em) {
  .skill_template_summary_wrapper {
    min-height: calc(100vh - 8rem - 30vh);
  }
}
