$base-parallax-perspective: 10px;

@function parallax-scale-factor($z-distance) {
  @return ($base-parallax-perspective - $z-distance) /
    $base-parallax-perspective;
}

.about_page {
  height: 100vh;
  background: black;
  transform-style: preserve-3d;
}

.about_content {
  transform-style: preserve-3d;
}

.about_page_row_1 {
  transform-style: preserve-3d;
  display: flex;
}
.about_page_summary {
  padding-top: 6rem;
  color: black;
  max-width: 70%;
  margin-left: auto;
  text-align: center;
}

.about_page_summary_text {
  max-width: 50%;
  margin: 0 auto;
  font-size: 2.5rem;
}

.about_page_mission {
  padding: 5rem;
  margin-top: 20rem;
  max-width: 70%;
  opacity: 0.3;
}

.about_page_mission_text {
  font-weight: 700;
  font-size: 10rem;
  margin-bottom: 5rem;
}

.about_page_row {
  display: flex;
  align-items: center;
  padding: 0 10rem;
  min-height: 100vh;

  &:nth-of-type(even) {
    background: black;

    .about_page_row_content {
      max-width: 40%;
      margin-left: auto;
    }

    .about_page_row_header,
    .about_page_row_text {
      color: white;
    }
  }

  &_header {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  &_text {
    font-size: 3rem;
  }
}

.about_page_row_content {
  max-width: 40%;
  justify-self: flex-end;
}

.about_img {
  transform-style: preserve-3d;
  margin-top: 10rem;
  position: relative;
  width: 35rem;
  transform: translateZ(-1px) translateY(1.5vh) translateX(1.5vw)
    scale(parallax-scale-factor(-1));
}
