@import "../../scss/variables/colors.scss";
$base-parallax-perspective: 10px;

@function parallax-scale-factor($z-distance) {
  @return ($base-parallax-perspective - $z-distance) /
    $base-parallax-perspective;
}

.about_page {
  background: $color-dark-main;
  transform-style: preserve-3d;
}

.about_content {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.about_page_row_1 {
  transform-style: preserve-3d;
}
.about_page_summary {
  display: flex;
  align-items: center;
  min-height: 70vh;
  color: $color-dark-main;
  margin-left: auto;
  text-align: center;
}

.about_page_summary_text {
  //  max-width: 50%;
  margin: 0 auto;
  padding-top: 15rem;
  font-size: 3rem;
  margin-top: 12rem;
}

.about_page_mission {
  padding: 4rem 2rem;
  // max-width: 70%;
  opacity: 0.3;
}

.about_page_mission_text {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.about_page_row {
  display: flex;
  align-items: center;
  min-height: 110vh;
  padding: 0 5rem;

  .about_page_row_text {
    color: $color-dark-main;
  }

  .about_page_row_content {
    margin-left: auto;
  }

  &:last-child {
    padding-bottom: 15rem;
  }

  &:nth-of-type(odd) {
    background: $color-dark-main;

    .about_page_row_content {
      //max-width: 40%;
      margin-left: 0;
    }

    .about_page_row_header,
    .about_page_row_text {
      color: $color-light-main;
    }
  }

  &_header {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  &_text {
    font-size: 3rem;
  }
}

.about_page_row_content {
  padding: 1.5rem;
  //  max-width: 40%;
  justify-self: flex-end;
}

.about_img {
  transform-style: preserve-3d;
  position: absolute;
  bottom: -20rem;
  left: 0;
  height: 50rem;
}

@media only screen and (min-width: 43.75em) {
  .about_img {
    bottom: -30rem;

    transform: translateZ(-1px) translateY(70px) translateX(1.5vw)
      scale(parallax-scale-factor(-1));
  }

  .about_page_row {
    padding: 0 10rem;
  }

  .about_page_summary {
    max-width: 70%;
  }

  .about_page_summary_text {
    max-width: 60%;
    margin-top: 0;
    margin-bottom: 4rem;
    padding-top: 3rem;
  }

  .about_page_mission_text {
    font-size: 12rem;
    max-width: 80%;
  }

  .about_page_row_content {
    max-width: 70%;
    padding: 0 4rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .about_page_row_content {
    max-width: 50%;
  }
}

@media only screen and (max-height: 500px) {
  .about_img {
    display: none;
  }

  .about_page_summary_text {
    padding-top: 3rem;
    margin-top: 0;
  }
}
