@import "../../scss/mixins/layers.scss";
@import "../../scss//variables/padding.scss";
@import "../../scss/mixins/logo.scss";

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}

.header_content {
  padding: $padding-m;
  display: flex;
  justify-content: space-between;
}

.header_links {
  display: flex;
  pointer-events: all;
}

.header_btn {
  border: none;
  outline: none;
  background: none;
  @include logo-sm;
}

.header_logo {
  @include logo-xs;
}

.header_logo_g {
  fill: blue;
}

.header_breadcrumbs {
  display: flex;
  transition: all 0.7s;
  transition-timing-function: ease-out;
  align-items: center;
  font-size: 2rem;
  transform: translateY(3px);
}

.header_home_breadcrumb {
  transition: all 0.7s;
  font-size: 2rem;

  transition-timing-function: ease-out;
  display: flex;
  align-items: center;
  opacity: 0;
}

.header_home_link {
  &:hover + div > .header_breadcrumbs {
    opacity: 0;
    transform: translateY(-1rem);
  }

  &:hover + div > .header_home_breadcrumb {
    transform: translateY(-1rem);
    opacity: 1;
  }
}

.header_menuContainer {
  pointer-events: all;
}

.header_breadcrumb::before {
  position: relative;
  top: -1px;
  content: "\2014";
  padding: 0 1rem;
}

@media only screen and (min-width: 40em) {
  .header_logo {
    @include logo-xs;
  }

  .header_content {
    padding: 4rem;
  }

  .header_breadcrumbs,
  .header_home_breadcrumb {
    font-size: 1rem;
  }

  .header_home_link {
    &:hover + div > .header_breadcrumbs {
      opacity: 0;
      transform: translateY(-0.8rem);
    }

    &:hover + div > .header_home_breadcrumb {
      opacity: 1;
      transform: translateY(-0.8rem);
    }
  }
}
