@import url("https://fonts.googleapis.com/css?family=Teko:700&display=swap");
@import "../../scss//variables/colors.scss";

$base-parallax-perspective: 10px;

@function parallax-scale-factor($z-distance) {
  @return ($base-parallax-perspective - $z-distance) /
    $base-parallax-perspective;
}

.skills_page {
  position: relative;
  transform-style: preserve-3d;
}

.skills_page_info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20vw;
  display: block;
}

.skills_page_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_page_logo {
  margin: 0 auto;
  width: 45%;
  padding-bottom: 0rem;
}

.skills_page_links {
  display: flex;
  flex-direction: column;
  background: $color-light-main;
}
.section_page_link {
  font-size: 2rem;
  padding: 0.5rem;
}

.skills_wrapper {
  margin-top: 10rem;
  padding-bottom: 20rem;
  display: flex;
  justify-content: center;
}

.skills_list_wrapper {
  display: inline-block;
}

.skills_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}

.perspective_wrapper {
  perspective: 400vw;
  backface-visibility: hidden;
  perspective-origin: 50% 100%;
}

.skill_item {
  margin: 2.5rem 0;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(-45deg) translateZ(0) skewY(5deg);
  transform-origin: center center;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.6s;

  &:hover {
    transform: rotateY(-40deg) skewY(2deg);
  }
}

.skill_item_link {
  text-align: center;
  text-transform: uppercase;
  font-family: "Teko";
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-size: 15vw;
  color: transparent;
  -webkit-text-stroke: 1.5px $color-blue-main;
  transition: color 1s;

  &:hover {
    color: $color-blue-main;
  }
}

.skills_img {
  height: 40rem;
  margin-top: -30rem;
}

.skills_page_hero {
  height: 100vh;
  background: $color-dark-main;
}

@media only screen and (min-width: 37.5em) {
  .skills_img {
    margin-top: -30vh;
    height: 55rem;
  }
}

@media only screen and (min-width: 64em) {
  .skills_list {
    text-align: right;
  }

  .skill_item {
    margin: 0;
    transform-origin: right center;
  }

  .skills_page_info {
    display: block;
  }

  .skills_img {
    margin-top: -20rem;

    transform: translateZ(-1px) translateY(150px) translateX(10px)
      scale(parallax-scale-factor(-1));
  }
}

@media only screen and (max-height: 600px) {
  .skills_img {
    display: none;
  }
}
