@import url("https://fonts.googleapis.com/css?family=Teko:700&display=swap");

.skills_page {
  position: relative;
}

.test {
  width: 10rem;
  height: 10rem;
  position: absolute;
  float: left;
  background: red;
}

.skills_page_info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20vw;
  display: block;
}

.skills_page_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_page_logo {
  margin: 0 auto;
  width: 45%;
  padding-bottom: 0rem;
}

.skills_page_links {
  display: flex;
  flex-direction: column;
  background: white;
}
.section_page_link {
  font-size: 2rem;
  padding: 0.5rem;
}

.skills_wrapper {
  padding-top: 15rem;
  display: flex;
  justify-content: center;
}

.skills_list_wrapper {
  display: inline-block;
}

.skills_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}

.perspective_wrapper {
  perspective: 400vw;
  backface-visibility: hidden;
  perspective-origin: 50% 100%;
}

.skill_item {
  margin: 2.5rem 0;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(-45deg) translateZ(0) skewY(5deg);
  transform-origin: center center;
  transform-style: preserve-3d;
  will-change: transform;
  transition: all 0.6s;

  &:hover {
    transform: rotateY(-40deg) skewY(2deg);
  }
}

.skill_item_link {
  text-align: center;
  text-transform: uppercase;
  font-family: "Teko";
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 90%;
  font-size: 15vw;
  color: transparent;
  -webkit-text-stroke: 1.5px blue;
  transition: color 1s;

  &:hover {
    color: blue;
  }
}

@media only screen and (min-width: 45em) {
  .skills_list {
    text-align: right;
  }

  .skill_item {
    margin: 0;
    transform-origin: right center;
  }

  .skills_page_info {
    display: block;
  }
}
