.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
  mix-blend-mode: exclusion;
  position: relative;

  perspective-origin: 0 0;

  &.disable_scroll {
    overflow: hidden;
  }
}
